body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image:
  linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 0.911)),
  url("background3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #002c25;
}

ul {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  max-width: 1000px;
}

li {
  list-style-type: none;
  padding: 10px 10px;
  transition: all 0.3s ease;
}

.container {
  padding: 2em;
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
  border-radius: 10px;
}

.container h3 {
  font-weight: 300;
  margin: 0;
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.container h1 {
  font-weight: 600;
  margin: 10px 0 10px 0;
  color: rgb(0, 0, 0);
}

.card {
  display: block;
  width: 150px;
  height: 140px;
  padding: 40px 30px 30px 30px;
  border-radius: 7px;
  margin: 5px;
  text-align: center;
  line-height: 27px;
  cursor: pointer;
  position: relative;
  color: #fff;
  font-weight: 450;
  font-size: 16px;
  letter-spacing: 1px;
  -webkit-box-shadow: 9px 10px 22px -8px rgba(209, 193, 209, .5);
  -moz-box-shadow: 9px 10px 22px -8px rgba(209, 193, 209, .5);
  box-shadow: 9px 10px 22px -8px rgba(209, 193, 209, .5);
  will-change: transform;
}

li:hover {
  transform: scale(1.1);
}

li:nth-child(3n+1) .card {
  background-image: linear-gradient(to right, #48c6ef 0%, #6f86d6 100%);
}

li:nth-child(3n+2) .card {
  background-image: linear-gradient(to right, #f093fb 0%, #f5576c 100%);
}

li:nth-child(3n+3) .card {
  background-image: linear-gradient(to right, #37ecba 0%, #349645 100%);
}

.delete-card {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 15px;
  opacity: .7;
  transition: all 0.5s ease;
}

.delete-card:hover, .error {
  opacity: 1;
  transform: rotate(360deg);
}

.flip-enter-active {
  transition: all 0.4s ease;
}

.flip-leave-active {
  display: none;
}

.flip-enter, .flip-leave {
  transform: rotateY(180deg);
  opacity: 0;
}

.back {
  font-weight: 100;
}

/* Form */

.flashcard-form {
  width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  margin: 0 10px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

input {
  border-radius: 5px;
  border: 2px solid #eaeaea;
  padding: 10px;
  outline: none;
  margin: 10px 0 10px 10px;
}

button {
  margin: 5px 30px;
  border-radius: 5px;
  border: none;
  background-color: #70a66f;
  padding: 8px 15px;
  outline: none;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #70a66f;
}

.error {
  margin-top: 10px;
  font-size: 14px;
  display: block;
  color: #ff4437;
  font-weight: 600;
}

footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  align-content: center;
  color: white;
  margin: 20px;
}

footer p {
  align-content: center;
  font-weight: 300;
  margin: 5px;
  font-size: 14px;
}

footer a {
  align-content: center;
  font-weight: 300;
  font-size: 14px;
  text-decoration: underline;
  color: white;
}

@media only screen and (min-width: 900px) {
  .container {
    max-width: 1000px;
  }
  .flashcard-form {
    width: 900px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}